@import url(https://fonts.bunny.net/css?family=outfit:400,500,600,700);

@import url('variables.css');
@import url('reset.css');

body {
	background-color: hsl(var(--color-background));
	background-image: url('/background-pattern.svg');
	background-position: center;
	background-attachment: fixed;
	background-size: cover;

	font-family: var(--font-body);
	font-size: 1.125rem;
	line-height: 1.25;
}
