@import url('variables.css');
@import url('fonts.css');
@import url('reset.css');

body {
	background-color: hsl(var(--color-background));
	background-image: url('/background-pattern.svg');
	background-position: center;
	background-attachment: fixed;
	background-size: cover;

	font-family: 'FOT-Rodin Pro DB';
	font-size: 1.125rem;
	line-height: 1.5;
	letter-spacing: -1px;
}
