@import url(https://fonts.bunny.net/css?family=outfit:400,500,600,700);

@import url('variables.css');
@import url('reset.css');
@import url('fonts.css');

body {
	background-color: hsl(var(--color-background));
	/* background-image: url('/background-pattern.svg'); */
	background-position: center;
	background-attachment: fixed;
	background-size: cover;

	font-family: var(--font-body);
	font-size: 1.125rem;
	line-height: 1.25;
}

@media screen and (max-width: 768px) {
	body {
		font-size: 1rem;
	}
}

/* Change paint order */
* {
	paint-order: stroke fill;
}

.container {
	max-width: 75rem;
	margin: 0 auto;
	padding: 0 1rem;
}

.remotion-root {
	font-family: 'FOT-Rodin Pro UB';
}
